# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.log

# Test Results
[Rr]esult*/

.hg/
bin/
target/

*.zip
*.orig
*.bak

changeset-identify.bat

push-to-git-aux.bat

push-to-git-prd.bat

# Visual Studo 2015 cache/options directory
.vs/
*.user
/containers/AllProjects.sln
*.pubxml

**/*.Development.json

.vscode/